@keyframes slide {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(100%);
    }
}

@keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
