@charset "UTF-8";

@font-face {
    font-family: 'Graphik bold';
    src: url(../fonts/Graphik-Bold-Trial.otf);
}

@font-face {
    font-family: 'Graphik regular';
    src: url(../fonts/Graphik-Regular-Trial.otf);
}

@font-face {
    font-family: 'Graphik medium';
    src: url(../fonts/Graphik-Medium-Trial.otf);
}

@font-face {
    font-family: 'Graphik semi';
    src: url(../fonts/Graphik-Semibold-Trial.otf);
}

@font-face {
    font-family: 'Poppins regular';
    src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: 'Poppins medium';
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: 'Poppins light';
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: 'Gurajada-regular';
    src: url(../fonts/Gurajada-Regular.ttf);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #B84480;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1b1b1b!important;
    color: white!important;
    font-family: 'Poppins regular'!important;
    padding-left: 80px;
    padding-right: 80px;
    overflow-x: hidden!important;
}

.color-purple {
    color: #B84480;
}

.color-orange {
    color: #FAA819;
}



.header a {
    color: white;
}

.header a:hover {
    color: #FAA819!important;
}

a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-white)!important;
    padding-left: 35px!important;
    padding-right: 35px!important; 
}

.navbar-nav {
    position: absolute;
    right: 0;
    padding-top: 20px;
}

.nav-item a {
    transition: 0.2s ease-in-out;
    position: relative;
    padding-right: 5px;
}

.nav-item a:hover {
    color: #FAA819!important;
}

.nav-item a::after{
    margin-left: 30px;
    content: " ";
    width: 0;
    height: 2px;
    background-color: #FAA819;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: 0.2s ease-in;
}

.nav-item a:hover::after {
    width: 30px;
}
/*HERO*/

.home .img-hero {
    position: absolute;
    top: -100px;
    z-index: -1;
    overflow: hidden!important;
}

.img-hero img {
    overflow: hidden!important;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    font-family: 'Graphik medium';
    margin-top: 80px;
}

.home p {
    font-family: 'Poppins light';
    font-size: 16px!important;
    text-align: center;
    padding-top: 10px;
}

.home .botoes-hero {
    padding-top: 30px;
    display: flex;
    gap: 10px;
}

.home button {
    width: 170px;
    height: 50px;
    color: white;
    background-color: #FAA819;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}

.home button:hover {
    transform: translateY(-10px);
}

.button2 {
    background-color: transparent!important;
    border: 1px solid #FAA819!important;
    color: white!important;
}

.separator-logo {
    background: linear-gradient(to right, #B84480, #DF93BA);
    width: 100%;
    position: absolute;
    box-shadow: 0px 5px 22px #000000ad;
    right: 0;
    left: 0;
    margin-top: 300px;
    opacity: 1;
    -ms-transform: skewY(4deg); /* IE 9*/
    -webkit-transform: skewY(4deg); /*safari*/
    transform: skewY(4deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    gap: 100px;
}

.conteudo-separator {
    display: flex;
    flex-direction: row;
    gap: 100px;
    animation: 15s slide infinite linear;
}

/*QUEM SOMOS*/

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    padding-left: 50px!important;
    padding-right: 50px!important;
    position: relative;
}

.sobre h2 {
    font-size: 44px;
    font-family: 'Gurajada-regular';
    color: #FAA819;
}


.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    padding: 0 50px;
}

.about p {
    font-family: 'Poppins regular';
}

.about2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.about2 img {
    filter: drop-shadow(-10px 10px 20px #b8448041);
}

.about2 p{
    text-align: center;
    max-width: 800px;
    font-family: 'Poppins regular';
}



/*serviços*/

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.servicos h1 {
    font-size: 44px;
    font-family: 'Gurajada-regular';
    margin-bottom: 50px;
    color: #FAA819;
}

.conjunto-cards-servicos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-servico {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 316px;
    height: 404px;
    background-color: #1b1b1b;
    z-index: 1;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.445);
}

.card-servico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(#B84480, #FAA819);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

.card-servico h2 {
    font-size: 40px;
    font-family: 'Gurajada-regular';
    color: #B84480;
    margin-top: -15px;
}

.card-servico p {
    font-family: 'Poppins regular';
    font-size: 14px;
    text-align: center;
}

.button-servico {
    margin-top: 20px;
    background-color: transparent!important;
    border: 1px solid #FAA819!important;
    color: white!important;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s linear;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.486);
}

.button-servico:hover {
    border: 1px solid #B84480!important;
    color: #B84480!important;
}

/* divisoria servicos */

.divisoria-servicos {
    overflow: hidden!important;
    opacity: 10%;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}

/*servico segunda parte*/ 

.img-landing-servicos {
    position: absolute;
    bottom: -20px;
    left: 350px;
}

.div-servicos {
    gap: 100px;
    position: relative;
}

.qualidades {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 80px;
}

.quadro {
    width: 250px!important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-and-icon {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-and-icon h3 {
    font-size: 18px;
    font-family: 'Poppins medium';
    
}

.title-and-icon img {
    padding-bottom: 7px;
    gap: 20px;
}

.qualidades p{
    font-size: 12px;
    font-family: 'Poppins regular';
    font-weight: 300;
    width: 200px;
}

/*sessao como funciona*/

.sessao-como-funciona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessao-como-funciona h2 {
    font-family: 'Gurajada-regular';
    font-size: 44px;
    color: #FAA819;
}

.sessao-como-funciona h1 {
    text-align: center;
    font-family: 'Graphik medium';
    margin-bottom: 100px;
}

.conjunto-etapas {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.etapa {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.etapa h2 {
    color: #B84480;
    font-family: 'Poppins medium';
    font-size: 18px;
}

.etapa p {
    color: white;
    font-family: 'Poppins regular';
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 0 10px;
}

.etapa a {
    margin-top: -15px;
}

.linha-etapas {
    width: 1px;
    height: 260px;
    background-image: linear-gradient(to bottom, #B84480, #FAA819);
}

/*divisoria palavras chaves*/

.divisoria-palavras-chave {
    background: linear-gradient(to right, #B84480, #DF93BA);
    width: 100%;
    height: 35px;
    position: absolute;
    box-shadow: 0px 5px 22px #000000ad;
    right: 0;
    left: 0;
    opacity: 1;
    -ms-transform: skewY(-4deg); /* IE 9*/
    -webkit-transform: skewY(-4deg); /*safari*/
    transform: skewY(-4deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden!important;
    white-space: nowrap;
    gap: 50px;
}

.conjunto-palavras {
    display: flex;
    flex-direction: row;
    gap: 50px;
    animation: 15s slide2 infinite linear;
}

.palavra span {
    color: white;
    font-size: 24px;
    font-weight: 300;
}

/*landing pages*/

.landing-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
}

.landing-pages h2 {
    font-family: 'Gurajada-regular';
    font-size: 44px;
    color: #FAA819;
    margin-bottom: 50px;
}

.grupo-sobre-lp {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
}

.grupo-img-lp {
    position: relative;
}

.img-dekstop {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.img-mobile {
    position: absolute;
    top: 200px;
    right: -50px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

}

.textolp1 {
    margin-top: 30px;
    max-width: 400px;
}

.textolp1 .span-lp1 {
    color: #FAA819;
    font-weight: 700;
}

.textolp1 .span-lp2 {
    color: #B84480;
    font-weight: 700;
}

.textolp2 {
    max-width: 350px;
    margin-left: 50px;
    margin-top: 50px;
}

/*
    trabalhos realizados
*/


.session-trabalhos {
    margin-top: 200px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.session-trabalhos h2 {
    font-family: 'Gurajada-regular';
    font-size: 44px;
    color: #FAA819;
    margin-bottom: 60px;
    
}

.conjunto-projetos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}



.projetos-div {
    display: flex;
}

.projeto-img {
    width: 380px;
}

.projeto-img img {
    border-radius: 5px;
    width: 100%;
}

.projeto {
    display: flex;
    flex-direction: column;
}

.projeto span {
    font-family: 'Gurajada';
    font-size: 24px;
    color: #72E985;
}

.conjunto-listras{
    display: flex;
    gap: 3px;
    margin-bottom: 50px;
}

.listra-projetos {
    width: 50px;
    height: 2px;
    background-color: white;
}

.listra-projetos-selecionado {
    background-color: #B84480;
}

.session-trabalhos p {
    max-width: 620px;
    text-align: center;
}


/*sistemas*/

.sistemas {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.nossos-sistemas {
    font-family: 'Gurajada-regular'!important;
    font-size: 44px!important;
    color: #FAA819!important;
    margin-bottom: 50px!important;
}

.sistema img {
    box-shadow: 7px 7px #b84480bd;
    margin-bottom: 50px;
}

.sistemas .title-sistema {
    color: #FAA819;
    font-size: 14px;
    margin-bottom: 0;
}

.grupo-sistemas {
    gap: 50px;
    margin-bottom: 100px;
}

.text-sistema {
    max-width: 350px;
    font-family: 'Poppins regular';
    font-size: 16px;
}

.sistemas h2 {
    font-size: 36px;
    font-family: 'Poppins medium';
    text-align: center;
    justify-content: center;
    max-width: 600px;
}

.sistemas-h2 {
    margin-top: 200px;
}

/*div-rosa*/

.div-rosa {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #B84480, #DF93BA);
    width: 100%;
    height: 200px;
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.div-rosa img {
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
}



.div-rosa h1 {
    font-family: 'Poppins medium';
    font-size: 32px;
}

.div-rosa button {
    width: 170px;
    height: 50px;
    color: white;
    background-color: #FAA819;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}


/*depoimentos*/

.depoimentos {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.depoimentos h2 {
    font-size: 44px;
    font-family: 'Gurajada-regular';
    color: #FAA819;
}

.depoimentos h1{
    font-family: 'Poppins medium';
    margin-bottom: 100px;
}

.conjunto-depoimentos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.depoimento {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #33333383;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.445);
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 320px;
    border-radius: 10px;
    z-index: 1;
}

.depoimento::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(#B84480, #FAA819);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 1;
}

.depoimento p {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins regular';
    font-weight: 300;
    padding: 30px;
    
}

.conjunto2-depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-depoimento {
    font-family: 'Poppins medium';
    color: white;
    font-size: 18px;
}

.profissao-depoimento {
    font-family: 'Poppins medium';
    color: #B84480;
    text-transform: uppercase;
    font-size: 18px;
}

.conjunto-listras-depoimentos {
    margin-top: 30px;
}

/*line footer*/

.line {
    margin-top: 100px;
    margin-bottom: 40px;
    width: 100%;
    height: 2px;
    background-color: #414141;
}

/*footer*/

.group-footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.group1 {
    max-width: 450px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.group1 p {
    font-size: 16px;
    color: #858585;
}

.group2 {
    gap: 0px;
    margin-top: 50px;
    
}

/*imput footer*/



.form-container {
    width: 400px;
    background: linear-gradient(#1b1b1b, #1b1b1b) padding-box,
                linear-gradient(145deg, transparent 35%,#B84480, #FAA819) border-box;
    border: 2px solid transparent;
    padding: 24px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

  .title {
    font-size: 44px;
    font-family: 'Gurajada-regular';
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #B84480;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #B84480;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #B84480;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #B84480;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: white;
    font-weight: 600;
    border: none;
    width: 40%;
    background: #FAA819;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
.lista-n-ord {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.contatos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 450px;
    align-items: flex-start!important;
}

.contatos a {
    color: #B84480;
}
  
  
  
  



.span-footer {
    font-size: 14px;

}

.copy-footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins light';
    color: #e2e2e283;
}






















