@media screen and (max-width: 1060px) {

    /*sobre*/
    .about {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .conjunto-cards-servicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .conjunto-etapas {
        display: flex;
        flex-wrap: wrap;
    }

    .linha-etapas3 {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .grupo-sobre-lp {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textolp2 {
        margin: 0;
    }
}

@media screen and (max-width: 935px) {
    /*servicos*/

    .div-servicos {
        flex-direction: column!important;
        display: flex;
        align-items: center;
    }

    .div-servicos .img-landing-servicos {
        position: absolute;
        top: 470px;
        left: 155px;
        display: flex;
    }

    .qualidades {
        padding-left: 50px;
        margin-top: -30px;
    }
}

@media screen and (max-width: 919px) {
    .linha-etapas3 {
        display: flex;
    }

    .linha-etapas2 {
        display: none;
    }

    .conjunto-depoimentos {
        display: flex;
        flex-direction: column;
    }

    .depoimento2 {
        display: none;
    }

    .listramobile {
        display: flex!important;
    }
}

@media screen and (max-width: 880px) {
    /*sistemas*/

    .grupo-sistemas {
        flex-direction: column!important;
    }
}



@media screen and (max-width: 770px) {
    /*header e hero*/

    .header {
        padding-left: 25px!important;
        padding-right: 25px!important;
        
    }

    

   

}

@media screen and (max-width: 700px) {
    /*servicos*/

    .div-img-servicos {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 667px) {
    .conjunto-etapas {
        display: flex;
        flex-direction: column;
    }
    
    .linha-etapas2 {
        display: flex;
    }

    .linha-etapas {
        transform: rotate(270deg);
    }

    .landing-pages h2 {
        margin-bottom: 5px;
    }

    .grupo-img-lp {
        transform: scale(0.6);
    }

    .texto-lp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textolp1 {
        padding: 20px;
        text-align: center;
        margin-top: 0;
    }

    .textolp2 {
        padding: 20px;
        text-align: center;
    }

    .div-rosa h1 {
        font-size: 24px;
        text-align: center;
    }
}

@media screen and (max-width: 596px) {

    .img-hero img {
        overflow: hidden!important;
    }

    



}

@media screen and (max-width: 530px) {

    .depoimento {
        width: 350px;
    }

    .sistemas h1 {
        margin-bottom: 10px;
    }

    .home h1 {
        font-size: 32px!important;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .home p {
        font-size: 12px!important;
    }

    .projeto-img {
        width: 320px;
    }

    
}

@media screen and (max-width: 513px) {

    /*hero*/

    body {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    
    .home {
        margin-bottom: -270px!important;
    }

    .sobre h2 {
        text-align: center;
    }

    .sobre img{
        width: 350px;
    }
    
    .sistemas h2 {
        font-size: 28px;
        width: 320px;
    }

    .line {
        width: 100%; 
    }

    .linha {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botoes-hero {
        display: flex;
        flex-direction: column;
    }

    .divisoria-servicos {
        gap: 30px;
    }

    .group1 {
        padding-left: 25px;
        padding-right: 25px;
    }
}